.container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
}

.leftWrapper {
}
.rightWrapper {
}
.totalAmount {
  margin: 50px;
}

.largestTransaction {
  margin: 50px;
}
.converter {
  height: 260px;
  margin: 30px;
}
.listOfTransactions {
  border: 1px solid #b8c1cf;
  border-top: 1px solid #b8c1cf;
  width: 94%;
  height: auto;
  margin: 120px auto;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
  }
}
