.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  paddinh: 10px;
}
.first {
  width: 28%;
}
.second {
  width: 7%;
}
.third {
  width: 7%;
}
.forth {
  width: 12%;
}
.fifth {
  width: 10%;
}
.sixth {
  width: 22%;
}
.seventh {
  width: 12%;
  height: 30px;
  background-color: #f5424e;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.seventh:hover {
  opacity: 0.98;
  transform: scale(1.1);
}
.paragraph {
  font-size: 20px;
}
